@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.background {
    background-color: white;
    border-bottom: 0.063rem solid black;
    margin: auto;
    position: relative;
    box-shadow: 0 0 0.063rem rgb(129, 128, 128);
    width: 70%; /* Default width for scalability */
}

/* Header layout */

header {
    font-family: "Boldonse", Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 22.5rem;
    position: relative;
}

.wall, .wall-burger, .wall-drinks {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.wall {
    background-image: url(/Images/pizzaheader.jpg);
}

.wall-burger {
    background-image: url(/Images/burgerheader.jpg);
}

.wall-drinks {
    background-image: url(/Images/drinksheader.jpg);
    background-size: 110% 140%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0rem 1.875rem 1.875rem 1.875rem;
}

h1, h2 {
    z-index: 1;
    color:#000000

}

h1 {

    font-size: 4rem;
    font-weight: 600;
    margin-left: 1.25rem;
    margin-right: auto;
    margin-top: 3.5%;
    text-shadow: 0.05rem 0.05rem 0 rgb(255, 255, 255),
                -0.05rem -0.05rem 0 rgb(255, 255, 255);
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-left: 5rem;
    margin-right: auto;
    text-shadow: -0.04rem 0.02rem 0 rgb(255, 255, 255),
                  0.02rem -0.04rem 0 rgb(255, 255, 255);
}



h3 {
    font-size: 0.813rem;
    font-weight: 200;
}

h4 {
    font-size: 1.2rem;
}

.welcome {
    background-color: aliceblue;
    margin: auto;
    width: 15.625rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem 0.625rem 0 0;
    box-shadow: 0 0 0.125rem black;
    border: none;
}

.navigate {
    display: flex;
    justify-content: space-around;
    margin: .65em auto .5em auto;
    padding: 0 6em .8em 6em;
    border-bottom: 0.031rem solid rgb(223, 211, 211);
}

nav a {
    text-decoration: none;
    color: rgb(192, 9, 24);
}

nav a:hover,
nav a:active {
    font-size: 2rem;
    color: red;
    box-shadow: 0.063rem 0.063rem 0.188rem rgb(0, 0, 0);
    padding: 0.313rem 0.938rem;
    border-radius: 50%;
    transition: 0.1s;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    font-weight: 200;
    padding: 0 1rem; /* Adjusted for scalability */
}

/* Section Layout */

.container0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(165, 163, 163);
    min-height: 9.375rem;
    margin: 2em 3.5em;
    padding: 1em;
}

.img-container {
    margin-top: 0.625rem;
}

.pizza {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 1.563rem;
    margin-right: auto;
    margin-bottom: 0.313rem;
}

p {
    opacity: 60%;
    letter-spacing: -0.063rem;
    font-size: 1rem;
}

.price {
    margin-right: 1.563rem;
    margin-left: auto;
}

.add-btn {
    font-size: 1.875rem;
    padding: 0.313rem 0.813rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: yellowgreen;
    box-shadow: 0 0.313rem 0.125rem gray;
}

.add-btn:hover {
    background-color: rgb(192, 231, 154);
    transition: 0.2s;
}

.add-btn:active {
    transform: translateY(0.188rem);
    box-shadow: 0 0.125rem 0.063rem rgb(44, 44, 44);
    transition: 0.1s;
}

/* Final layout */

.ordercontainer {
    display: flex;
    flex-direction: column;
    margin: 0.625rem 3.125rem;
}

.child {
    width: 100%;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.text {
    background-image: linear-gradient(rgb(241, 232, 232), rgb(171, 216, 81));
    box-shadow: 0 0 0.313rem olive;
    font-size: 1.625rem;
    margin: .5rem auto;
    border-radius: 0.313rem;
    font-weight: bold;
    padding: 0.313rem 0.625rem;
}
.total-price{
    background-image: linear-gradient(rgb(241, 232, 232), rgb(171, 216, 81));
    box-shadow: 0 0 0.313rem olive;
    font-size: 1.625rem;
    margin: 0 auto;
    border-radius: 0.313rem;
    font-weight: bold;
    padding: 0.313rem 0.625rem;
    width: 14em;
}

span{
    color: #283618;
    text-shadow: 0 0 .1rem rgb(0, 0, 0);
    
}

.remove-btn {
    margin-left: 2%;
    margin-right: auto;
    margin-top: 0.313rem;
    cursor: pointer;
    border-radius: 0.313rem;
    border: none;
    background-color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: 500;
    font-size: 0.75rem;
    opacity: 50%;
    box-shadow: 0 0 0.063rem black;
    padding: 0.125rem;
}

.remove-btn:hover {
    opacity: 80%;
    transition: 0.2s;
}

.remove-btn:active {
    transform: translateY(0.063rem);
}

.ordercontainer h4 {
    width: 4.375rem;
    text-align: start;
}

.last-btn {
    width: 100%;
    background-image: linear-gradient(to right, rgb(249, 250, 212), rgb(252, 246, 162), rgb(250, 250, 49));
    position: absolute;
    right: 0;
    left: 0;
    top: auto;
    bottom: 0;
    border-top: .2rem solid black;
    padding: 0;
    box-shadow: 0 0.313rem 0.125rem black;

}

.order {
    height: 100%;
    width: 100%;
    font-family: 'Boldonse';
    background: none;
    border: none;
    margin: auto;
    font-size: 1.5em;
    font-weight: 200;
    color: #000000;
    cursor: pointer;
    padding: 0.938rem;
}

.order:active {
    box-shadow: 0 0 0.313rem rgb(0, 0, 15);
    transition: 0.1s;
    transform: translateY(0.125rem);
}

form {
    padding: 0.313rem 0.313rem 0.313rem 1.25rem;
    width: 30%; /* Adjusted for better default scaling */
    max-width: 400px; /* Limits width on large screens */
    height: 21.875rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #6a994e;
    box-shadow: 0 0 0.125rem rgb(159, 250, 123);
    border: none;
    padding: .4rem;
    border-radius: 5px;
}

form h4 {
    padding-bottom: .2rem;
    font-size: 1.375rem;
}

input, form button {
    width: 85%;
    height: 15%;
    border-radius: 0.313rem;
    border: 0.063rem solid rgb(199, 198, 198);
}

input {
    text-align: start;
    font-size: 1.125rem;
    padding: 0 0.5rem;
}

input:focus {
    outline: none;
    text-decoration: none;
    border: 0.063rem solid black;
    background-color: rgba(245, 245, 245, 0.945);
}

form button {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #FCD34D;
    border: none;
    color: whitesmoke;
    text-shadow: 0 0 0.063rem black;
}

form button:hover {
    opacity: 80%;
    cursor: pointer;
}

form button:active {
    transform: translateY(0.125rem);
    transition: 0.2s;
}

.x {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.625rem;
    background-color: rgb(235, 230, 217);
    font-weight: bold;
    box-shadow: 0 0 0.063rem rgb(48, 47, 47);
}

.x:hover {
    background-color: #64646b;
    text-shadow: 0 0 0.063rem white;
}

/* Utility */

.border {
    border-top: 0.125rem solid rgb(3, 31, 31);
}

.marg {
    margin-bottom: 3.1em;
}

/* Responsive Styles */

@media (max-width: 650px) {
    .background {
        width: 100%;
    }
    
    header {
        height: 14.375rem;
    }
    
    h1 {
        margin-top: 3rem;
        font-size: 2rem;
        margin-left: 0.625rem;
    }
    
    h2 {
        margin-top: .5rem;
        font-size: 1.1rem;
        margin-left: 1.25rem;
    }
    h3 {
        font-size: .7rem;
    }
    
    .welcome {
        width: 50%;
        padding: 0.5rem;
    }
    
    .navigate {
        flex-direction: column;
        padding: 0;
    }
    
    nav a {
        display: block;
        margin: 0.35rem 0;
        font-size: 1.125rem;
    }
    
    ul {
        flex-direction: row;
        justify-content: space-around;
    }
    
    li {
        padding: 0.2rem 0;

    }

    nav a:hover,
    nav a:active{
        font-size: 1.4rem;
    }
    .container0 {
        flex-direction: row;
        align-items: center;
        margin: 0.625rem;
        justify-content: center;
    }
   
    .pizza {
        width: 6rem;
        height: 6rem;
    }
    
    .text-container p {
        font-size: .8rem;
        text-align: start;
    }
    
    .add-btn {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        margin-bottom: .5rem ;
    }
    
    .ordercontainer {
        margin: 0.625rem;
    }
    
    .child {
        flex-direction: row;
        align-items: center;
    }
    
    .text {
        font-size: 1.375rem;
    }
    h4 {
        font-size: 1rem;
        padding-left: .1em;
    }

    form h4 {
        font-size: 1.1rem;
    }
    
    form {
        width: 50%;
        height: 40%;

    }
    input {
        width: 100%;
    }
    
    form button {
        font-size: 1.125rem;
        width: 95%;
    }
    .price {
        font-size: .9rem;
        margin-left: auto;
        margin-right: .5rem;
    }
   
}

@media (min-width: 651px) and (max-width: 1023px) {
    .background {
        width: 100%;
    }
    
    .navigate {
        padding: 0 5rem;
    }
    
    li {
        padding: 0 1rem;
    }
    
    form {
        width: 50%;
    }
}
